################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineAssessmentApp.WebAPI/.vs/OnlineAssessmentApp.WebAPI/v15/Server/sqlite3
/OnlineAssessmentApp.WebAPI/.vs/OnlineAssessmentApp.WebAPI/v15/sqlite3/db.lock
/OnlineAssessmentApp.WebAPI/.vs/OnlineAssessmentApp.WebAPI/v15/sqlite3/storage.ide-shm
/OnlineAssessmentApp.WebAPI/.vs/OnlineAssessmentApp.WebAPI/v15/sqlite3/storage.ide-wal
