################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineAssessmentApp.WebAPI/.vs/OnlineAssessmentApp.WebAPI/v15/Server/sqlite3
